<h1><%= @question.test.title %> Question</h1>

<p>
  <%= @question.body %><br>
</p>

<h2>Answers</h2>

<p>
  <%= link_to 'New Answer', new_question_answer_path(@question) %>
</p>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back to test', test_path(@question.test) %>
</p>
