<p class="badge-params badge-for-test-level">
  <%= form.label :level %><br>
  <%= form.text_field 'params[level]', id: :badge_level, class: 'form-control params-input' %>
</p>

<p class="badge-params badge-for-test-category">
  <%= form.label :category %><br>
  <%= form.text_field 'params[category]', id: :badge_category, class: 'form-control params-input' %>
</p>

<p class="badge-params badge-for-test-attempt">
  <%= form.label :attempts %><br>
  <%= form.text_field 'params[attempts]', id: :badge_attempts, class: 'form-control params-input' %>
</p>
