<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <p>
   <%= form.label :name %><br>
   <%= form.text_field :name, id: :badge_name, class: 'form-control' %>
  </p>

  <p>
   <%= form.label :picture_url %><br>
   <%= form.text_field :picture_url, id: :badge_picture_url, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :type, class: 'my-badge' %><br>
    <%= form.collection_select :type, Badge.select_options, :first, :last, {}, id: :badge_type, class: 'badge-type form-control' %>
  </p>

  <%= render 'badge_params', form: form %>

  <p><%= form.submit class: 'btn btn-primary' %></p>
<% end %>
