<h1><%= t('.header', test_title: @test_passage.test.title ) %></h1>

<h2><%= congratulation(@test_passage) %></h2>

<p>
  <%= t('.result_p') %>
  <%= tag.span class: result_color(@test_passage) do %>
    <%= @test_passage.current_result.round %>%
  <% end %>
</p>

<ol>
  <%= render @test_passage.user_answers %>
</ol>

<p>
  <%= link_to t('.link_to.back'), tests_path %>
</p>
