<div class="d-flex justify-content-between">
  <div>
    <h1>
      <%= t('.header', test_title: @test_passage.test.title ) %>
    </h1>
  </div>
  <div>
    <%= render 'shared/timer', test_passage: @test_passage %>
  </div>
</div>

<b>
  <%= @test_passage.question_number %>/
  <%= @test_passage.test.questions.count %>.
  <%= @test_passage.current_question.body %>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('.next'), class: 'btn btn-secondary' %></p>
<% end %>

<%= content_tag :div, class: 'progress' do %>
  <%= content_tag :div,
                  class: 'progress-bar',
                  data: { question_number: @test_passage.question_number,
                          question_count: @test_passage.test.questions.count } do %>
  <% end %>
<% end %>
