<nav class="navbar <%= current_user&.admin? ? 'navbar-dark bg-primary' : 'navbar-light bg-light' %>">
  <span class="navbar-text" >
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand mr-1' %>|
    <%= link_to t('.contact'), contact_path %>
  </span>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome_html', email: current_user.email) %> |
      <% if current_user.admin? %>
        <%= link_to 'Tests', admin_tests_path %> |
        <%= link_to 'Gists', admin_gists_path %> |
        <%= link_to 'Badges', admin_badges_path %> |
      <% else %>
        <%= link_to 'Badges', badges_path %> |
      <% end %>
      <%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %> |
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </span>
</nav>
