<tr>
  <td>
    <%= content_tag :span, question.body, class: 'resource-title', data: { resource_id: question.id } %>
    <% question == @question ? @question : question %>
    <%= render 'form_inline', url: update_inline_admin_question_path(question), model: [:admin, question.test, question], resource: question, resource_content: question.body %>
  </td>
  <td><%= link_to t('.link_to.show'), admin_question_path(question), class: "btn btn-secondary btn-sm"  %></td>
  <td><%= link_to t('.link_to.edit'),
                  edit_admin_question_path(question),
                  data: { resource_id: question.id },
                  class: "btn btn-secondary btn-sm form-inline-link"  %></td>
  <td>
    <%= link_to t('.link_to.delete'),
                admin_question_path(question),
                method: :delete,
                data: { confirm: t('.confirm.delete') },
                class: "btn btn-danger btn-sm" %>
  </td>
</tr>
