<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <p>
   <%= form.label :name %><br>
   <%= form.text_field :name, id: :badge_name, class: 'form-control' %>
  </p>

  <p>
   <%= form.label :picture_url %><br>
   <%= form.text_field :picture_url, id: :badge_picture_url, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :type %><br>
    <%= form.text_field :type, value: 'BadgeForTestLevel', disabled: true, id: :badge_type, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.text_field 'params[level]', id: :badge_level, class: 'form-control' %>
  </p>

  <p><%= form.submit class: 'btn btn-primary' %></p>
<% end %>
