<li>
  <%= attempt.answer.question.body %><br>
  <table>
    <%= collection_check_boxes :answer, :id, attempt.answer.question.answers, :id, :body, include_hidden: false do |b| %>
      <tr class="<%= color(b.object, attempt) %>">
        <td>
          <%= b.check_box disabled: true, checked: b.object == attempt.answer %>
          <%= b.label %>
        </td>
        <td>
          <%= comment(b.object, attempt) %>
        </td>
      </tr>
    <% end %>
  </table>
</li>
