<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :test_title %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.text_field :level, id: :test_level %>
  </p>

  <p>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, id: :test_category_id %>
  </p>

  <p>
    <%= form.label :timer %><br>
    <%= form.text_field :timer, id: :timer %>
  </p>

  <p><%= form.submit %></p>
<% end %>

<p>
  <%= link_to t('.link_to.back'), admin_tests_path %>
</p>
