<tr>
  <td><%= test.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= t(".levels.#{test_level(test)}") %></td>
  <td><%= link_to t('.link_to.show'), admin_test_path(test), class: "btn btn-secondary btn-sm" %></td>
  <td><%= link_to t('.link_to.edit'), edit_admin_test_path(test), class: "btn btn-secondary btn-sm" %></td>
  <td>
    <%= link_to t('.link_to.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger btn-sm" %>
  </td>
</tr>
