<tr>
  <td>
    <%= content_tag :span, test.title, class: 'resource-title', data: { resource_id: test.id } %>
    <% test == @test ? @test : test %>
    <%= render 'shared/form_inline', url: update_inline_admin_test_path(test),
                              model: [:admin, test],
                              resource: test,
                              resource_content: test.title %>
  </td>
  <td><%= test.questions.count %></td>
  <td><%= t(".levels.#{test_level(test)}") %></td>
  <td><%= link_to t('.link_to.show'), admin_test_path(test), class: "btn btn-secondary btn-sm" %></td>
  <td>
    <%= link_to t('.link_to.edit'),
                edit_admin_test_path(test),
                data: { resource_id: test.id },
                class: "btn btn-secondary btn-sm form-inline-link" %>
  </td>
  <td>
    <%= link_to t('.link_to.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger btn-sm" %>
  </td>
</tr>
