<h1><%= t('.header') %></h1>

<table class="table table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= t('.table.test')%></th>
      <th scope="col"><%= t('.table.question')%></th>
      <th scope="col"><%= t('.table.level')%></th>
      <th scope="col" colspan="3" class="text-center" style="width: 20%"><%= t('.table.actions')%></th>
    </tr>
  </thead>

  <%= render @tests %>
</table>

<p>
  <%= link_to t('.link_to.add'), new_admin_test_path(@test) %><br>
</p>
