<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @test %>

<table class="table table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.table.col1')%>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('.table.col2')%></th>
      <th><%= t('.table.col3')%></th>
      <th><%= t('.table.col5')%></th>
      <th colspan="3" class="text-center" style="width: 20%"><%= t('.table.col4')%></th>
    </tr>
  </thead>

  <tbody><%= render @tests %></tbody>
</table>

<p>
  <%= link_to t('.link_to.add'), new_admin_test_path(@test) %><br>
</p>
