<h1><%= @test.title %></h1>

<table>
  <tr>
    <th><%= t('.table.questions') %></th>
    <th colspan="3"><%= t('.table.actions') %></th>
  </tr>

  <%= render @test.questions %>
</table>

<p>
  <%= link_to t('.link_to.add'), new_admin_test_question_path(@test) %> |
  <%= link_to t('.link_to.back'), admin_tests_path %>
</p>
