<h1><%= @test.title %></h1>

<table class="table table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th><%= t('.table.questions') %></th>
      <th colspan="3" class="text-center" style="width: 20%"><%= t('.table.actions') %></th>
    </tr>
  </thead>

  <%= render @test.questions %>
</table>

<p>
  <%= link_to t('.link_to.add'), new_admin_test_question_path(@test) %> |
  <%= link_to t('.link_to.back'), admin_tests_path %>
</p>
