<h1><%= t('.header') %></h1>

<table class="table table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= t('.table.test')%></th>
      <th scope="col"><%= t('.table.question')%></th>
      <th scope="col"><%= t('.table.level')%></th>
      <th scope="col"><%= t('.table.author')%></th>
      <th scope="col"><%= t('.table.actions')%></th>
    </tr>
  </thead>

  <%= render @tests %>
</table>
