<h1><%= t('.header') %></h1>

<table class="table table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.table.col1')%>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th scope="col"><%= t('.table.col2')%></th>
      <th scope="col"><%= t('.table.col3')%></th>
      <th scope="col"><%= t('.table.col6')%></th>
      <th scope="col"><%= t('.table.col4')%></th>
      <th scope="col"><%= t('.table.col5')%></th>
    </tr>
  </thead>

  <tbody><%= render @tests %></tbody>
</table>
